.App {
  text-align: center;
  background-image: "https://www.teahub.io/photos/full/182-1823213_mobile-wallpaper-sharechat-propose-day-images-for-boyfriend.jpg"
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
